/* @override http://127.0.0.1:8000/media/static/css/themes/basic.css */

/* Baseline styles: */

body {
    color: black;
    background-color: #fcecd2;
    font-family: optima;
}

a:link, a:visited {
    color: #383538;
}

.clearfix {
    border-bottom: none!important;
}

a:hover {
    color: #978f97;
}

h2, h2 > a {
    color: #211E1D!important;
}

h2 > a:hover {
    color: #383538!important;
}

h4, h4 > a {
    color: #6E3B3A!important;
}

/* Code */

.highlight {
    /* Override the default white from pygments */
    background-color: #fcecd2;
}

pre {
    color: #333940;
    background-color: white;


/* IE */
    background-color: rgba(255,255,255, 0.80);
    font-family: monofur, profont, monospace;
    border: none!important;
    border-left: 1px dotted #383538!important;
    white-space: pre;
}

/* LAYOUT */

.post .date, .quote .date, .bookmark .date {
    float: left;
    width: 3.8em;
    margin: 0.3em 0  0 -6.0em;
    padding: 0 .2em 0 1.2em;
    background: #f1930d;
    border: 4px solid #f1930d;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.post .teaser {
    border-bottom: none!important;
}

/* Specific Elements */

#logo h1 a {
    font-family: HelveticaNeue-Light, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 120%;
    font-variant: normal;
    font-size: 38pt;
    color: #be0a0a;
    text-shadow: #6E3B3A 3px 3px 10px;
}

#right-rail {
	width: 320px;

    border: 4px solid #f1ce9d;
    padding: 4px 4px 4px 8px;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 6px 6px 10px #211E1D;
}

#right-rail p, #right-rail ul {
    color: #383538;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    color: #211E1D;
    background-color: #f1930d;
    margin: 0;
    padding: 0 0 0 2px;
    border: 4px solid #f1930d;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 6px 6px 10px #211E1D;
}

#nav ul.navbar-one, #nav > form {
    margin: 2px auto;
    padding: 0;
}

#footer {
    margin: 1em auto;
    width: 50%;
    font-family: "HelveticaNeue-Light", sans-serif;
    text-align: center;
}

#footer a {
    color: inherit!important;
    font-weight: inherit;
    text-decoration: underline;
}

#footer p {
    padding: 0;
    margin-bottom: .4em;
}

#footer img {
    vertical-align: middle;
}

#bleeder {
    display: none;
}
