/* @override http://127.0.0.1:8000/media/static/css/themes/black_leaves.css */

@import url("../reset.css");

/* Baseline styles: */

body
{
    color: white;
    font-family: optima;
    background: #000412 url(../../img/leaves_bg_flip.jpg) no-repeat fixed left bottom;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #nav a
{
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, #nav a:hover
{
    text-decoration: underline;
}

/* Key elements */

#main
{
    position: relative;
    top: 38px;
    width: 740px;
    margin: 0 auto 4em;
    padding: 1em;
    color: black;
    background-color: rgb(255,239,209); /* For antique browsers */
    background-color: rgba(255,239,209,0.95);

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    padding: 0;
    border: 2px solid #f4b73d;
}

.date,
.post > h2,
.post > h3,
.quote > h2,
.quote > h3,
.bookmark > h2,
.bookmark > h3
{
    line-height: 18pt;
    background-color: #f4b73d;
    font-weight: bold;
    border-bottom: 1px solid #be8513;
}

.date {
    width: 4em;
}

.post .date, .quote .date, .bookmark .date
{
	float: left;
	padding-left: .4em;
    font-variant: small-caps;
}

.post .body, .bookmark .body, .post .teaser, .quote blockquote
{
    border-left: 1px solid #be8513;
    padding: .7em .4em;
}

/* Fixups for pages where the HTML hierarchy is slightly more complicated */
.content .inline_tag_list, .content .subscribe, #comments {
    border-left: 1px solid #be8513;
    padding: .8em .4em;
}

.post .teaser, p.list-tease
{
	padding: .4em .7em;
    font-style: italic;
}

.post .teaser {
	background-color: #caaf84;
	border-bottom: 1px solid #b19974;
}

ul.archive, ul.categories {
    list-style-position: inside;
    list-style-type: disc;
    line-height: 1.1;
    margin: .6em 1em .6em;
}

ul.archive a, ul.categories a {
	color: inherit;
}

.clearfix {
    clear: both;
}

/* Code */

.highlight
{
    /* Override the default white from pygments */
    background-color: inherit;
}

pre, pre.prettyprint
{
	display: block;
    overflow: visible;

    color: #333940;
    background-color: white; /* IE */
    background-color: rgba(255,255,255, 0.6);

    font-family: monofur, Menlo, Consolas, monospace;
    font-size: 11pt;
    line-height: 12pt;

	border: none!important;
    border-left: 1px solid #a95e08!important;
    padding: .3em .4em;
    margin: .6em 1em;
}

/* Specific Elements */

#logo
{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#logo h1 a
{
    font-size: 38pt;
    text-decoration: none;
    text-shadow: #d3a63c 3px 3px 6px;
}

#nav
{
    position: fixed;
    top: 124px;
    right: 0;
    width: 103px;
    color: #554c30;
    background-color: #eedbbb;
    font-size: smaller;
    margin: 0;
    padding: 0;

    border: 4px solid #eedbbb;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topleft: 8px;
}

#nav h4
{
    clear: both;
    font-size: 11pt;
    margin-top: .5em;
    margin-bottom: .3em;
    margin-left: .3em;
}

#nav p
{
    text-align: center;
}

#nav > form
{
    margin: auto;
    padding: 0;
    text-align: center;
}

#nav > form input
{
    border: 1px solid #513b34;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin: 4px auto;
}

#nav > form input[type=text]
{
    width: 100px;
}

#nav li
{
    margin-left: .5em;
    list-style-type: square;
    list-style-position: inside;
}

#avatar img
{
    display: block;
    float: right;

    position: relative;
    right: -5px;
    top: 3px;

    margin-bottom: 1em;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
}

#list_archive_nav {
    text-align: center;
    overflow:hidden;
    padding: 1em;
    border-left: 1px solid #be8513;
    margin-bottom: 3px;
}

#list_archive_nav a, #post_archive_nav a {
	color: inherit!important;
	text-decoration: none;
}

#list_archive_nav .older, a.previous {
    float: left;
}

#list_archive_nav .newer, a.next {
    float: right;
}

#list_archive_nav .nav {
	clear: both;
	margin-top: 1.6em;
}

#list_archive_nav .nav > div {
    float: left;
    width: 50%;
}

#list_archive_nav li {
	list-style: none;
	display: inline;
}

#list_archive_nav li+li:before {
	content: "· ";
}

#post_archive_nav {
	padding: 1em .3em;
	margin: .6em 0;
}

#footer
{
    color: black;
    background-color: white;
    background-color: rgba(196,196,196,0.7);
    width: 40%;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: smaller;
    text-align: center;
    border: solid white 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: .5em;
    margin: 10em auto 1.5em;
}

#footer a
{
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

#footer p
{
    margin-bottom: .6em;
}

#footer img
{
    display: block;
    float: left;
    vertical-align: bottom;
    margin: 0 2pt;
}

/* Content Elements */

.inline_tag_list {
	font-size: 95%;
}

.subscribe {
    font-size: small;
    text-align:center;
}

.subscribe li {
    display: inline;
}

.subscribe a, .inline_tag_list a, #comments a {
    color: inherit;
}

.subscribe a:hover,
.inline_tag_list a:hover,
#list_archive_nav a:hover,
#post_archive_nav a:hover,
#comments a:hover
{
	text-decoration: underline;
}


/* Comments */
#dsq-new-post div.dsq-request-user-info,
#dsq-content div.dsq-options,
div#dsq-pagination.dsq-pagination,
#dsq-content div.dsq-item-trackback
{
	background:none!important;
    padding: 0;
    margin: 0;
}

#dsq-content button
{
	background-color:white;
}

#comments a {
	text-decoration: none;
}

#dsq-comments-title, #comments > p, #dsq-content .dsq-item-trackback
{
	text-align:center;
}

#dsq-content div.dsq-options
{
	margin: auto;
	width: 400px;
	padding: 2pt;
	line-height: 12pt;
	text-align:center;
}

#dsq-new-post div.dsq-request-user-info
{
    margin: 0;
    padding: 0;
}

#dsq-new-post div.dsq-request-user-info img {
    border: 1px solid #7c6253;
}

#dsq-new-post div.dsq-request-user-info td {
	margin: 0;
    padding: 0 2px;
}

#dsq-content .dsq-item-trackback input {
	width: 50%;
    border: none;
}


/* Decorative fluff */

#main, #footer, #nav
{
    box-shadow: -8px 2px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: -8px 2px 6px rgba(0,0,0,.5);
    -moz-box-shadow: -8px 2px 6px rgba(0,0,0,.5);
}