{% extends "base.html" %}
{% block body_class %}blog{% endblock %}

{% block content %}

<div class="post clearfix">
    <div class="date">404</div>
    <h2>Page not found</h2>
    <p class="teaser">… but we're looking for it!</p>
    <div class="body" style="text-align:center">
        <p>
            <a href="http://www.flickr.com/photos/acdha/4302708964/">
                <img src="http://farm5.static.flickr.com/4004/4302708964_c69e42fb20.jpg" width="500" height="375" alt="" />
            </a>        
        </p>
    </div>
</div>

{% endblock %}