{% extends "base.html" %}
{% block body_class %}blog{% endblock %}

{% block content %}

<div class="post clearfix">
    <div class="date">500</div>
    <h2>Don't Panic!</h2>
    <p class="teaser">Something went wrong…</p>
    <div class="body">

        <p>
            … but it's probably not this bad:<br/>
            <a href="http://www.flickr.com/photos/acdha/4302822286/" title="Threatened Swamp Monkey by Chris Adams, on Flickr">
                <img src="http://farm3.static.flickr.com/2737/4302822286_62c1463e27.jpg" width="500" height="385" alt="" />
            </a>
        </p>
    </div>
</div>

{% endblock %}