{% load disqus_tags flatblock_tags cache navbar generic_content blog compress analytics elsewhere feeds i18n archive %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <title>{% block title %}{{ BLOG_SETTINGS.site_name }}{% endblock %}</title>

        {% block meta %}
        <meta name="keywords" content="{{ BLOG_SETTINGS.meta_keywords }}">
        <meta name="description" content="{{ BLOG_SETTINGS.meta_description }}">
        <meta name="author" content="{{ BLOG_SETTINGS.author_name }}" />
        {% endblock %}

        <meta name="copyright" content="{{ BLOG_SETTINGS.copyright }}" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}imgs/favicon.ico" type="image/x-icon"/>

        {% block rss %}
        <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} main rss feed" href="{{ BLOG_SETTINGS.rss_url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all entries feed" href="/feeds/all/">
        <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all posts feed" href="/feeds/latest/">
        {% endblock %}

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/black_leaves.css" type="text/css" media="all" charset="utf-8">
        {% endcompress %}

        {% disqus_dev %}
        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">

        <div id="nav">
            <a id="avatar" href="/about"><img src="{{ STATIC_URL }}img/cycling_tn.jpg" height="86" width="105"></a>

            <p>
                {{ BLOG_SETTINGS.about }}
            </p>

            {% cache 3600 "base.profiles" %}
            <h4>{% trans "Elsewhere" %}</h4>
            <ul>
                {% get_elsewhere_profiles as profiles %}
                {% for item in profiles %}
                <li><a href="{{ item.url }}" rel="me" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
            {% endcache %}

            {% cache 3600 "base.blogroll" %}
            {% get_blogroll 10 as blogroll %}
            <h4>{% trans "BlogRoll" %}</h4>
            <ul class="recent-posts">
                {% for item in blogroll %}
                <li><a href="{{ item.get_absolute_url }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
            {% endcache %}

            <h4>Search</h4>
            <form action="/search/" method="GET">
                <input type="text" name="q" value="{{ search_term }}">
                <input type="submit" class="button" value="Search">
            </form>
        </div>

        <div id="main">
            <div id="logo">
                <h1><a href="/" title="{{ BLOG_SETTINGS.site_name }}">{{ BLOG_SETTINGS.site_name }}</a></h1>
            </div>

            {% block body %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            {% endblock body %}
        </div>

        <div id="footer">
            {% cache 3600 "base.footer" %}
            {% flatblock "footer" 3600 "flatblocks/bare.html" %}
            {% endcache %}
        </div>

        {% cache 7200 "base.analytics" %}
        {% analytics %}
        {% endcache %}

        {% block extra_base %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $("head").append(unescape('%3Clink%20rel%3D%22stylesheet%22%20href%3D%22{{ STATIC_URL }}css%2Fprettify.css%22%20type%3D%22text%2Fcss%22%20media%3D%22screen%22%20title%3D%22no%20title%22%20charset%3D%22utf-8%22%3E'));
            $.getScript('{{ STATIC_URL }}js/prettify.js', function(){
                prettyPrint();
            });

        });
        </script>
        {% endblock extra_base %}
    </body>
</html>
